<%= form_with(model: atividade, local: true) do |form| %>
  <% if atividade.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(atividade.errors.count, "erros") %> impediram de adicionar a atividade.</p>      
      </div>
      <div class="message-body">      
        <ul>
          <% atividade.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Data:</label>
    <%= form.date_field :data, class: 'input' %>
  </div>

  <div class="field">
    <label class="label">Descrição:</label>
    <%= form.text_area :descricao, class: 'textarea' %>
  </div>

  <div class="field">
    <label class="label">Ferramentas:</label>
    <%= form.text_field :ferramenta, class: 'input' %>
  </div>

  <div class="field">
    <label class="label">Carga Horária:</label>
    <%= form.number_field :carga_horaria, class: 'input' %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
