<% content_for :title do %>
  <p>Lista de Atividades do dia <%= DateTime.now.strftime("%e/%m") %></p>
  <p>Total de horas: <%= @atividades.pluck(:carga_horaria).sum %>h/a</p>
<% end %>
<% if @atividades.present? %>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Data</th>
      <th>Descrição</th>
      <th>Ferramenta</th>
      <th>Carga horária</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.data.strftime("%d/%m/%y") %></td>
        <td width="500"><%= atividade.descricao %></td>
        <td><%= atividade.ferramenta %></td>
        <td class="has-text-centered"><%= atividade.carga_horaria %>h/a</td>
        <td>
          <%= link_to atividade, class: 'button is-rounded is-small is-info is-outlined' do %>
            <i class="fa fa-eye"></i>
          <% end %>
          <%= link_to edit_atividade_path(atividade), class: 'button is-rounded is-small is-success is-outlined' do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to atividade, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'button is-rounded is-small is-danger is-outlined' do %>
            <i class="fa fa-trash is-danger"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class="columns is-centered mt-6">
  <%= link_to "Ver todas as atividades", arquivos_index_path, class: "button is-link is-outlined is-centered"%>
</div> 

